<!DOCTYPE html>
<html lang="br" ng-app="rondaApp">

<head ng-app="rondaApp">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Ronda</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="rondaApp">

 <<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Ronda</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <span class="nav-link-text">Funcionários</span>
          </a>
        </li>
        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="index-rotas.html">
            <span class="nav-link-text">Rotas</span>
          </a>
        </li>-->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="index-localizacao.html">
            <span class="nav-link-text">Locais</span>
          </a>
        </li>
        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link" href="index-empresa.html">
            <span class="nav-link-text">Empresa</span>
          </a>
        </li>-->
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper" ng-controller="LocalController">
    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Cadastro</a>
        </li>
        <li class="breadcrumb-item">Locais</li>
      </ol>
      <ol class="breadcrumb">
        <form role="form">
            <div class="row">
               <!--<div class="form-group col-lg-4">
                  <label for="id">ID</label>
                  <input type="number" class="form-control" id="id" placeholder="ID" ng-model="employee.id">
                </div>-->
                <div class="form-group col-lg-8">
                  <label>Marcação do ponto de Ronda</label>
                  <input type="text" class="form-control" id="name" ng-model="local.marcacaoRota">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-lg-6">
                  <label>Início da Ronda</label>
                  <input type="text" class="form-control" id="cargo" ng-model="local.inicioRonda">
                </div> 
                <div class="form-group col-lg-6">
                  <label>Tempo de permanência</label>
                  <input type="text" class="form-control" id="cargo"  ng-model="local.tempoPermanencia">
                </div>
            </div>
            
            <div style="margin-left: 1px;" class="row">
                    <label><b>Localização</b></label>
            </div>

            <!-- Script para pegar a latitude e longitude atual -->
            <!--<script type="text/javascript">
              
               function initMap(){

                     var lat = 0;
                     var long = 0;

                     navigator.geolocation.getCurrentPosition(function (position) {

                        lat = position.coords.latitude; 
                        
                        var positions = {lat: lat, lng: long};
                      
                        var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 19,
                          center: positions
                        });

                        var marker = new google.maps.Marker({
                          position: positions,
                          map: map
                        });  

                    });
                }

            </script>-->

            <div style="margin-left: 1px;" class="row">
                    <label title="Opcional para buscar as coordenadas a partir de um endereço."><b>Endereço (Opcional)</b></label>
            </div>

            <div class="row">
               <!--<div class="form-group col-lg-4">
                  <label for="id">ID</label>
                  <input type="number" class="form-control" id="id" placeholder="ID" ng-model="employee.id">
                </div>-->
                <div class="form-group col-lg-10">
                  <label>Endereço</label>
                  <input type="text" class="form-control" placeholder="Ex: Avenida ou Rua João Naves ..." id="name" ng-model="location.nome">
                </div>
                <div class="form-group col-lg-4">
                  <label>Número</label>
                  <input type="text" class="form-control" id="name" ng-model="location.numero">
                </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-6">
                  <label>Cidade</label>
                  <input type="text" class="form-control" placeholder="Ex: Uberlândia" id="name" ng-model="location.cidade">
                </div>
                <div class="form-group col-lg-6">
                  <label>Estado</label>
                  <input type="text" class="form-control" placeholder="Ex: Minas Gerais" id="name" ng-model="location.estado">
                </div>
            </div>
            <div class="box-actions">
                <button ng-click="findCoordEnd(location)" class="btn btn-success">Pesquisar Coordenadas</button>
            </div>



            <div style="margin-left: 1px;" class="row">
                    <label><b>Coordenadas</b></label>
            </div>
            <div class="row">
                 <div class="form-group col-lg-4">
                     <label for="cargo">Latitude</label>
                     <input type="text" class="form-control" id="inicio"  ng-model="latitude">
                 </div>
                 <div class="form-group col-lg-4">
                     <label for="cargo">Longitude</label>
                     <input type="text" class="form-control" id="fim"  ng-model="longitude">
                 </div>
                <img style="width: 30px; height: 30px; margin-top: 35px;" src="img/icon-location.svg" ng-click="initMap()">
            </div>

            <!--<iframe         
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyAf1he3YMCdlD-5S4FpGrvQ2OwM1vfo-MI&location=46.414382,10.013988" allowfullscreen>
            </iframe>-->

            <!--<script type="text/javascript">
              
             function initMap(){
                  var uluru = {lat: -18.926, lng: -48.234};
                  
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 19,
                    center: uluru
                  });
                  var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                  });
                  
              }
            </script>-->

            <div style="width: 100%; height: 400px;" id="map"></div>

           

            <div style="margin-top:5px;" class="box-actions">
                <button ng-click="save(local)" class="btn btn-success">Salvar</button>
                <button ng-click="cancel()" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    
      </ol>

     <div class="card mb-3">
        <div class="card-header">
          Locais       
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Marcação - Ronda</th>
                  <th>Início - Ronda</th>
                  <th>Tempo de Permanência</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  
                </tr>
              </thead>
              <tbody>
                
                <tr ng-repeat="local in locais">
                    <td ng-dblclick="update(local)">{{local.marcacaoRota}}</td>
                    <td ng-dblclick="update(local)">{{local.inicioRonda}}</td>
                    <td ng-dblclick="update(local)">{{local.tempoPermanencia}}</td>
                    <td ng-dblclick="update(local)">{{local.latitude}}</td>
                    <td ng-dblclick="update(local)">{{local.longitude}}</td>
                    <td><button class="btn btn-primary" ng-click="remove(local)">Excluir</button></td>
                    <td><button class="btn btn-danger" ng-click="update(local)">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>-->
  </div> 

  <!--<script src="js/angular/angular.min.js"></script>-->
  
  <script src="js/angular/angular/angular.js"></script>
  <script src="js/angular/angular-aria/angular-aria.js"></script>
  <script src="js/angular/angular-animate/angular-animate.js"></script>
  <script src="js/angular/angular-material/angular-material.js"></script>
  
  
  <script src="js/ronda.module.js"></script>
  <script src="js/locais/location.js"></script>
  <script src="js/locais/locais.service.js"></script>
  <script src="js/locais/locais.controller.js"></script>


  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/sb-admin/sb-admin.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACt80NPnse89d6cBW1NMkiQrccCb6y1hU&callback=initMap"></script>

 
</body>

</html>